// Файл для overrides, обрабатывается последним.
// @import 'over'; - в последней строке app.sass
.wheel {
    animation-name: spin;
    animation-duration: 600ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    z-index: 100;
}
 
@keyframes spin {
    from {
        transform:rotate(180deg);
        opacity: 0;
    }
    to {
        transform:rotate(0deg);
        opacity: 1;
    }
}
@font-face {
    font-family: jFont;
    src: url(jfont.ttf);
}
.jfont {
    font-family: jFont;
}
.button {
  @each $size, $value in map-remove($button-sizes, default) {
    &.#{$size} {
      padding: $value*0.25;
    }
  }
}
